.containerr {
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousell {
    margin: 0 auto;
    overflow: hidden;
    max-width: 900px;
}

.carousell-inner {
    white-space: nowrap;
}

.carousell-item {
    display: inline-block;
    width: 100%;
}