.Header__social-network {
    background-color: #ba1678;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header__social-network-individual {
    background-color: #6d004e;

    margin: 0 10px;
    padding: 7px 7px;
    border-radius: 3px;
    position: relative;
    top: 25px;
    z-index: 1;
}

.Header__btn-socialnetwork {
    color: #6d004e;
    font-size: 12px;
    text-decoration: none;
    background-color: #ffffff;
    padding: 1px 8px;
    border-radius: 3px;
}

.Header__btn-socialnetwork:hover {
    color: #6d004e;
}

.Header__logoITE {
    width: 8rem;
}

.Header__title {
    color: #ba1678;
    font-size: 2rem;
    display: block;
    letter-spacing: 9px;
    font-family: 'Segoe UI Light';
}

/* media screen */
@media screen and (max-width: 767px) {
    .Header__title {
        font-size: 1rem;
        letter-spacing: 1px;
        margin: auto;
    }

    a {
        margin: auto !important;
    }
}