.Modal__header {
  background: #972069;
  color: #ffffff;
}

.AcuerdosITE {
  display: grid;
  gap: 20px;
}

.AcuerdosITE_link:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.AcuerdosINE {
  display: grid;
  gap: 20px;
  text-align: center;
  color: #972069;
}

/* --------------- M E D I A     Q U E R I E S --------------- */

/* general */
@media only screen and (min-width: 1024px) {
  .AcuerdosITE {
    grid-template-columns: auto auto auto auto auto auto;
  }

  .AcuerdosINE {
    grid-template-columns: auto auto auto auto;
  }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .AcuerdosITE {
    grid-template-columns: auto auto auto auto;
  }

  .AcuerdosINE {
    grid-template-columns: auto auto auto auto;
  }
}

/* mobil */
@media only screen and (max-width: 767px) {
  .AcuerdosITE {
    grid-template-columns: auto auto;
    /* gap: 50px; */
    padding: 0 30px;
  }

  .AcuerdosINE {
    grid-template-columns: auto auto;
  }
}