.AcuerdosINE {
  display: grid;
  gap: 20px;
  text-align: center;
  color: #972069;
}

/* --------------- M E D I A     Q U E R I E S --------------- */

/* general */
@media only screen and (min-width: 1024px) {

  .AcuerdosINE {
    grid-template-columns: auto auto auto auto;
  }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .AcuerdosINE {
    grid-template-columns: auto auto auto auto;
  }
}

/* mobil */
@media only screen and (max-width: 767px) {
  .AcuerdosINE {
    grid-template-columns: auto auto;
  }
}