.Home__title {
    margin: 0 0 5px 0 !important;
    font-family: 'Segoe UI Light';
}


.Home__ActAgen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 0 50px;
}

.Home__EspITEVidPod {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 0 50px;
    border: 1px solid gold;
}



.Home__line-title {
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #ba1678;
    border-top: none;
    margin: 0 0 10px 0;
}

/* media screen */
@media screen and (min-width: 1024px) {
    .Home__container-vid-enlaces {
        display: flex;
        justify-content: center;
        align-items: initial;
        gap: 20px;
    }

    .Home__container-vid-enlaces-item {
        width: 50%;
        border: 2px solid purple;
    }
}

@media screen and (max-width: 767px) {
    .Home__ActAgen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
    }

    .Home__container-vid-enlaces-item {
        /* width: 50%; */
        /* border: 2px solid orange; */
        margin-top: 20px;
    }
}