.Home__title {
    margin: 10px 0 15px 0 !important;
    font-family: 'Segoe UI Light';
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: #ba1678;
    border-top: none;
}

.Home__EspITEVidPod {
    width: 100%;
}

.Home__boxesDouble {
    width: 100%;
}

/* --------------- M E D I A     Q U E R I E S --------------- */

/* general */
@media only screen and (min-width: 1024px) {
    .Home__EspITEVidPod {
        display: flex;
        justify-content: center;
        align-items: initial;
        gap: 20px;
    }

    .Home__EspITEVidPod div:nth-child(1) {
        width: 65%;
    }

    .Home__EspITEVidPod div:nth-child(2) {
        width: 35%;
    }

    .Home__boxesDouble {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: initial;
        gap: 20px;
    }

    .Home__boxesDouble-item {
        width: 50%;
    }
}

/* mobil */
@media only screen and (max-width: 767px) {

    .Home__boxesDouble-item {
        margin-top: 20px;
    }

    .Home__boxesDouble-item .Home__video-embed {
        width: 80% !important;
        margin: auto;
    }

    .Home__EspITEVidPod .Home__video-embed {
        width: 80% !important;
        margin: auto;
    }
}