.Home__title {
    margin: 10px 0 15px 0 !important;
    font-family: 'Segoe UI Light';
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: #ba1678;
    border-top: none;
}

.Home__EspITEVidPod,
.Home__boxesDouble,
.Home__boxesTriple {
    width: 100%;
}

.Home__pages {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Home__pages div:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* --------------- M E D I A     Q U E R I E S --------------- */

/* general */
@media only screen and (min-width: 1024px) {
    .Home__micrositios {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Home__informes {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 60px;
        row-gap: 60px;
    }

    .Home__boxesTriple {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
    }

    .Home__EspITEVidPod {
        display: flex;
        justify-content: center;
        align-items: initial;
        gap: 20px;
    }

    .Home__EspITEVidPod div:nth-child(1) {
        width: 65%;
    }

    .Home__EspITEVidPod div:nth-child(2) {
        width: 35%;
    }

    .Home__boxesDouble {
        display: flex;
        justify-content: center;
        align-items: initial;
        gap: 20px;
    }

    .Home__boxesDouble-item {
        width: 50%;
    }

    .Home__pages {
        grid-template-columns: auto auto auto auto auto;
        column-gap: 60px;
        padding: 0 8%;
        margin-bottom: 10px;
    }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Home__informes {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 80px;
        row-gap: 30px;
    }

    .Home__micrositios {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Home__pages {
        grid-template-columns: auto auto auto;
        column-gap: 60px;
        row-gap: 10px;
        padding: 0 8%;
        margin-bottom: 10px;
    }
}

/* mobil */
@media only screen and (max-width: 767px) {

    .Home__boxesDouble-item {
        margin-top: 20px;
    }

    .Home__boxesTriple .Home__video-embed,
    .Home__boxesDouble-item .Home__video-embed,
    .Home__EspITEVidPod .Home__video-embed {
        width: 80% !important;
        margin: auto;
    }

    .Home__informes {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .Home__micrositios {
        padding: 0 30px;
    }

    .Home__pages {
        grid-template-columns: auto auto;
        column-gap: 40px;
        row-gap: 5px;
        padding: 0 12%;
        margin-bottom: 20px;
    }
}