.carouselTopIndex__size {
    width: 90vw;
    position: relative;
    left: -10%;
}


@media screen and (max-width: 767px) {
    .carouselTopIndex__size {
        width: 95vw;
        position: relative;
        left: -14%;
    }
}