body {
  margin: 0;
  padding: 0;
}

.App__total-app {
  min-height: 100vh;
  position: relative;
}

.App__container {
  /* border: 1px solid red; */
  width: 75%;
  margin: auto;
  padding-bottom: 80px;
  text-align: justify;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0 !important;
}

.carousel-indicators [data-bs-target] {
  height: 6px !important;
  background-color: #000000 !important;
}

/* media screen */
@media screen and (max-width: 767px) {
  .App__container {
    width: 100%;
    padding: 0 20px 150px 20px;
  }
}