body {
  margin: 0;
  padding: 0;
}

.App__total-app {
  min-height: 100vh;
  position: relative;
}

.App__container {
  margin: auto;
  text-align: justify;
  /* 
  padding-bottom: 80px;
  border: 1px solid red;
  width: 75%;
  */
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0 !important;
}

.carousel-indicators {
  margin-bottom: 5px !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #000000 !important;
}

.carouselTopIndex__size {
  width: 97vw;
  position: relative;
  left: -15.5%;
}

/* --------------- M E D I A     Q U E R I E S --------------- */

/* general */
@media only screen and (min-width: 1024px) {
  .App__container {
    border: 2px solid red;
    width: 75%;
    padding-bottom: 80px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    z-index: 0 !important;
    font-size: 5rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 6px !important;
  }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .App__container {
    border: 1px solid blue;
    width: 85%;
    padding-bottom: 120px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    font-size: 2rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 5px !important;
  }
}

/* mobil */
@media only screen and (max-width: 767px) {
  .App__container {
    border: 1px solid orange;
    width: 75%;
    margin: auto;
    padding-bottom: 80px;
    text-align: justify;
  }

  .carousel-control-next,
  .carousel-control-prev {
    font-size: 4rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 6px !important;
  }

  /* .App__container {
    width: 95%;
  } */
}