body {
  margin: 0;
  padding: 0;
}

.App__total-app {
  min-height: 100vh;
  position: relative;
}

.App__container {
  border: 1px solid red;
  width: 75%;
  margin: auto;
  padding-bottom: 80px;
  text-align: justify;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0 !important;
}

.carousel-indicators {
  margin-bottom: 5px !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #000000 !important;
}

/* media screen */
@media screen and (min-width: 1024px) {
  .carouselTopIndex__size {
    width: 95vw;
    position: relative;
    left: -4%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    z-index: 0 !important;
    font-size: 5rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 6px !important;
  }
}

@media screen and (max-width: 767px) and (max-width: 1023px) {

  .carousel-control-next,
  .carousel-control-prev {
    font-size: 2rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 5px !important;
  }

}

@media screen and (min-width: 768px) {

  .carousel-control-next,
  .carousel-control-prev {
    font-size: 4rem;
  }

  .carousel-indicators [data-bs-target] {
    height: 6px !important;
  }
}