#navbar-menu {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #aa0787;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link {
    color: #000000 !important;
    font-size: 1.2rem !important;
}

.dropdown-item:hover {
    background-color: #A9387D !important;
    color: white !important;
}

.nav-link:focus,
.nav-link:hover {
    background-color: #e33292 !important;
    color: #ffffff !important;
}

.Navbar__logoITE {
    display: none;
}


/* media screen */
@media screen and (max-width: 767px) {
    .Navbar__logoITE {
        display: inline;
        width: 7rem;
        /* margin-bottom: 10px; */
    }
}