.Timer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    width: 100%;
    margin-top: 15px;
}

.Timer div {
    border-radius: 5px;
    background-color: #aa0787;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.Timer div p {
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: 2px;
    word-spacing: 2px;
}